.contact{
    padding-top: 131px;
    font-size: 16px;
}

.contact h3 {
    font-weight: normal;
    padding-top: 20px;
}

.mail,address{
    color: orange;
    font-weight: bold;
}

address {
    margin-bottom: 40px;
}

.contact-form p {
    margin-bottom: 2px;
}
input,textarea{
    width:50%;
    margin:10px 0 20px;
    padding:20px;
    font-size:18px;
    border:1px solid rgb(222, 231, 236);
  }

.contact-submit{
    background-color:rgb(222, 231, 236);
    margin-bottom: 100px;
    cursor: pointer;
    box-shadow: 0 7px rgb(184, 184, 185);
}
  
.contact-submit:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.btn {
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}