main{
    height: 1000px;
}

/* ↓サムネイル */
.roundprofile{
    width: 60px;
    margin: 20px 15px;
}

.slide-dots{
    width: 400px;
    height: 100px;
    display: flex;
    position: absolute;
    top: 40%;
    left: 70%;
    margin: 0 auto;
}

.scale {
    border-radius: 50%;
    transition: all 0.6s ease 0s;
  }

.scale:hover {
    cursor: pointer;
    transform: scale(1.5);
}
/* ↑サムネイル */


/* ↓プロフィール */
table th{
    padding: 6px 16px;
    font-size: 12px;
}

table td{
    padding-left: 10px;
    width: auto;
}

.thr{
    background-color: rgb(196, 165, 247);
    color: rgb(102, 51, 153);
}

.thn{
    background-color: rgb(245, 235, 156);
    color: rgb(255, 152, 0);
}

.tha{
    background-color: rgb(162, 207, 240);
    color: rgb(100, 149, 237);
}

.profile-img {
    width: 50%;
    height: 100%;
  }

.profile-list{
    margin: 30px 0 0 80px;
    font-size: 16px;
}

small{
    display: inline-block;
    margin-bottom: 20px;
}
/* ↑プロフィール */


/* 各種SNS */
.member-sns{
    display: flex;
    position: absolute;
    font-size: 24px;
    margin-top: 20px;
}

.member-sns a{
    padding: 15px;
}


/* スライダー */
.slide-item {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.slide-item .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }


/* arrow */
.slick-prev {
    left: 20%;
    z-index: 99;
  }
.slick-next {
    right: 23%;
  }
 
.slick-prev:before, .slick-next:before{
    width: 48px;
    height: 48px;
    padding: 15px 20px;
    background-color: rgba(113, 135, 245, 0.8);
    border-radius: 50%;
    transition: .2s;
  }
 
.slick-prev:focus, .slick-next:focus {
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
  }
  
.slick-prev:hover, .slick-next:hover {
    background-color: rgb(51, 79, 216);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
  }




/* スマホ対応 */

.sp-profile-wrapper, .profile-modal-wrapper{
    display: none;
}

/* 開くボタン */
.button-open {
    display: block;
    margin: 0 auto;
    width: 30rem;
    padding: 1em;
}
  .wrap{
      padding-bottom: 30px;
  }
  .wrap p{
      font-size: 24px;
      line-height: 0.95;
  }
  .small{
      font-size: 16px;
  }


/* ↓モーダル */

#modal-ririka, #modal-nodoka, #modal-anna{
    display: none;
}

.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;
    border-radius: 5px;
    z-index: 100;
    padding: 4rem;
  }
  
  .profile-modal {
    position: absolute;
    top: 10%;
    left: 7.5%;
    padding: 80px 0 40px;
    border-radius: 10px;
    width: 85%;
    height: 85%;
  }

  .window-ririka{
    background-color: rgba(228, 215, 248, 0.95);
  }

  .window-nodoka{
    background-color: rgba(245, 240, 201, 0.95);
  }

  .window-anna{
      background-color:rgba(221, 237, 247, 0.95);
  }

  .fa-times {
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }

  .sp-modal-profile-img{
    width: 80%;
}
   
    .profile-name{
        font-size: 12px;
    }


  .modal-profile-list{
      width: 100%;
      font-size: 40px;
    }

    .sp-modal-profile-table{
        width: 80%;
        margin: auto;
        padding-top: 24px;
    }

    .modal-profile-table th{
        font-size: 36px;
        padding: 20px;
    }

    .modal-member-sns{
        display: flex;
        justify-content: space-evenly;
        margin-top: 5px;
    }

    .sp-small{
        margin: 0;
    }



      /* オーバーレイ */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
  }