main{
    height: 860px;
}

/* ↓まるい画像3つ */
.roundprofile{
    width: 48px;
    padding-right: 20px;
}

.profile-serect{
    display: flex;
    position: absolute;
    top: 40%;
    left: 70%;
}

.kakudai {
    border-radius: 50%;
    transition: all 0.6s ease 0s;
  }

.kakudai:hover {
    cursor: pointer;
    transform: scale(1.5, 1.5);
}
/* ↑まるい画像3つ */

/* ↓プロフィールテーブル */
table th{
    padding: 6px 16px;
    font-size: 12px;
}

table td{
    padding-left: 10px;
}

.thr{
    background-color: rgb(196, 165, 247);
    color: rgb(102, 51, 153);
}

.thn{
    background-color: rgb(245, 235, 156);
    color: rgb(255, 152, 0);
}

.tha{
    background-color: rgb(162, 207, 240);
    color: rgb(100, 149, 237);
}
/* ↑プロフィールテーブル */

.profile-img {
    width: 50%;
    height: 100%;
  }

.profile-list{
    padding: 30px 0 0 50px;
}

/* 各種SNS */
.member-sns{
    display: flex;
    position: absolute;
    font-size: 24px;
    margin-top: 20px;
}

.member-sns a{
    padding: 15px;
}


.slide-item {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.slider .slick-prev {
    left: 1px;
    z-index: 99;
  }
  .slider .slick-next {
    right: 1px;
  }
  .slick-prev:before, .slick-next:before{
    color: black!important;
  }
 

  .slide-item .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
