/* タブレット向け(1000px以下)レイアウト */

@media only screen and (max-width: 1024px){

    /* ハンバーガーメニュー */
    .header-logo{
        width:40%;
    }

    .header-list{
        display: none;
    }
    #menu-icon{
        display: block !important ; 
    }
    
    /* sns縦並び & 中央よせ */
    .sns-wrapper{
        display: flex;
        flex-flow: column;
    }
    .top-left, .top-right{
        margin: 0 auto;
    }

        /* discography */
        .cd-list{
            flex-wrap: wrap;
        }
        .cd-list li{
            width: 50%;
        }
    

}      

/* スマホ向け(599px以下)レイアウト */

@media only screen and (max-width: 599px){

    /* ヘッダー */
    header{
        height: 100px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        }

    .stripe{
        height: 100px;
      }
    
    .header-logo{
        left: 15%;
        float: unset;
        width: 65%;
    }


    /* ボトムナビゲーション */
    .header-list{
        display: none;
    }
    #menu-icon{
        display: none !important ;
    }

    .footer-left , .footer-list{
        display: none;
    }

    footer{
       /* height: 24px; */
        margin-bottom: 200px;
    }

    #menu {
        position: fixed !important;
        left: 0;
        bottom: 0;
        height: 30%;
        display: flex;
        background: #FDFAF3;
        border-top: 1px solid #F0ECEC;
        width: 100%;
        flex-wrap: wrap;
        }
        #menu li {
        display: table;
        table-layout: fixed ;
        width: 33%;
        padding: 28px;
        list-style: none;
        text-align: center;
        }
        #menu a span {
        display: block;
        font-size: 12px;
        }     
    

    /* メイン */
    main{
        height: auto;
    }

    #pagetop{
        padding-top: 20px;
      }
    
    #title{
        font-size: 24px;
      }

      
    /* top */
    .artist-img{
        padding-top: 0px;
    }
    /* sns縦並び & 中央よせ */
    .sns-wrapper{
        display: flex;
        flex-flow: column;
    }
    .top-left, .top-right{
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .movie iframe{
        max-width: 550px;
        width: 100%;
        height: 100%;
    }


    /* discography */
    .cd-list{
        flex-wrap: wrap;
    }
    .cd-list li{
        width: 100%;
    }

    .cd-img{
        width: 50%;
    }

    .single, .album{
        font-size: 12px;
    }
    
    td{
        font-size: 13px;
    }
    
    /* ↓モーダル */
    .modal {
        top: 5%;
        left: 5%;
        padding: 40px 0;
        width: 90%;
        height: 90%;
      }
    
      .modal-cd{
        float: none;
        padding: 0;
        margin: auto;
    }
  
    .front{
      width: 60%;
  }
  
    .back{
      display: none;
    }
  
  
  .cdtitle{
      width: 250px;
      text-align: center;
      padding-bottom: 5px;
  }
    
  .modal-table{
      margin: auto;
  }

  .modal-cd .date {
      padding-bottom: 20px;
      text-align: center;
  }
  .modal-cd h3{
      display: none;
  }

  .modal-cd-link{
    padding: 8px 100px;
    margin-top: 12px;
    }

    #modal-header{
        margin-bottom: 36px;
    }

    
    /* contact */
    .contact{
        font-size: 12px;
        width: 90%;
        margin: auto;
    }

    .contact h3, .contact p{
        margin-bottom: 10px;
    }
    
    input,textarea{
        width:90%;
        font-size:12px;
      }
    
    /* profile */
    #slider, .slide-dots{
        display: none;
    }    
    .wrap{
        display: block;
    }
  
    /* index */
    body {
        font-family: monospace;
        background-color: rgb(250, 244, 231);
        height: 100%;
      }
    
      .index-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    
    .index-bg{
        background: url(../IMG/sp-index.PNG);
        background-repeat: no-repeat;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 120%;
        background-size: 100% auto; 
       }

        .index-list{
            position: absolute; 
            left: 16%;
            top: 22.8%;   
            font-size: 20px;
          }


}