/* タブレット向け(1000px以下)レイアウト */

@media only screen and (max-width: 1024px){

    /* ハンバーガーメニュー */
    .header-logo{
        width:40%;
    }

    .header-list{
        display: none;
    }
    #menu-icon{
        display: block !important ; 
    }
    
    /* sns縦並び & 中央よせ */
    .sns-wrapper{
        display: flex;
        flex-flow: column;
    }
    .top-left, .top-right{
        margin: 0 auto;
    }

       

/* スマホ向け(599px以下)レイアウト */

@media only screen and (max-width: 599px){

    /* ヘッダー */
    header{
        height: 100px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        }

    .stripe{
        height: 100px;
      }
    
    .header-logo{
        left: 15%;
        float: unset;
        width: 65%;
    }

    /* ボトムナビゲーション */
    .header-list{
        display: none;
    }
    #menu-icon{
        display: none !important ;
    }

    
    .artist-img{
        padding-top: 0px;
    }


    /* sns縦並び & 中央よせ */
    .sns-wrapper{
        display: flex;
        flex-flow: column;
    }
    .top-left, .top-right{
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .movie iframe{
        max-width: 550px;
        width: 100%;
        height: 100%;
    }

}