/* タブレット向け(1000px以下)レイアウト */

@media only screen and (max-width: 1024px){

    /* ハンバーガーメニュー */
    .header-logo{
        width:40%;
    }

    .header-list{
        display: none;
    }
    #menu-icon{
        display: block !important ; 
    }

    .sns-wrapper{
        display: flex;
        width: 200%;
    }
      
      
}

@media only screen and (max-width: 599px){

    /* ボトムナビゲーション */
    
    .header-logo{
        width:75%;
    }

    .header-list{
        display: none;
    }
    #menu-icon{
        display: none !important ;
    }

    .sns-wrapper{
        display: flex;
        width: 200%;
    }
      

        
}