body {
    font-family: monospace;
    text-align: center;
    background-color: rgb(250, 244, 231);
    background-image: url(../IMG/emblem-top.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top -40% left 50%;
  }

.index-container{
    position: relative;
    height: 550px; /* 一般的なファーストビューの縦サイズ */
}

ul{
  position: absolute; 
  left: 38%;
  top: 35%;   /* 親要素の高さを指定しないと％で縦方向の位置調整はできない */
  font-size: 28px;
}

li {
  list-style: none;
  padding-bottom: 20px;
  text-align: left;
}



a {
    text-decoration: none;
    display: inline-block;
  }

  a:link {
    color: grey;
  }
  
  a:visited {
    color:gray;
  }
  
  a:hover {
    color:  darkslategray;
    transform: scale(1.2, 1.2);
    transition: 1.0s;
  }

.mrgleft{
  margin-left: 24px;
}

