.artist-img{
  width: 100%;
  border-bottom: 1px solid rgb(240, 236, 236);
  margin-bottom: 20px;
  padding-top: 134px;
}

.sns{
  padding-top: 30px;
}

.top-left{
  float: left;
  width: 50%;
}

.top-right{
  float:right;
  width: 50%;
}

.movie{
  width:525px; height:275px;
}